.ui-checkbox {
	display: inline-flex;
	align-items: center;

	.checkbox-container {
		display: flex;
		align-items: center;
		cursor: pointer;
	
		input {
			display: none;
		}

		.checkbox-input {
			border-width: 1px;
			border-style: solid;
			border-radius: 2px;
			cursor: pointer;
			position: relative;
		}

		.checkbox-label {
			font-size: 15px;
			color: #333;
			margin-left: 10px;
		}

		input[type=checkbox]:checked + .checkbox-input::after {
			content: '';
			position: absolute;
			transform: rotate(-45deg);
			cursor: pointer;
		}
	}
}