/* colors */
$font-color: #525252;
$background-color: #ffffff;
$warn-color: #FF6161; // error text

$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;

$tag-red: #F63866;
$tag-purple: #B14EFF;
$tag-orange: #FF8E4E;
$tag-green: #3DD969;
$tag-blue: #4EA9FF;
$tag-brown: #BEAB9C;

/* fonts */
$default-font: Roboto, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$serif-font: "Noto Serif JP", serif;
