@import "~@media/assets/styles/_variables.scss";

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    image-rendering: -webkit-optimize-contrast;
}