// Font family
$fontFamily: Arial,sans-serif;

// Color
$colorDefault: #999999;
$colorPrimary: #EB5757;
$colorDanger: #D71111;
$colorWarning: #f0ad4e;
$colorInfo: #18A0FB;
$colorSuccess: #219653;
$colorPlaceholder: #999;

// Color border
$colorBorderDefault: #ddd;
$colorBorderPrimary: #2ea2c7;
$colorBorderDanger: #d9534f;
$colorBorderWarning: #f0ad4e;
$colorBorderInfo: #138496;
$colorBorderSuccess: #28a745;

// Color background
$colorBgDefault: #e2e3e5;
$colorBgPrimary: #cce5ff;
$colorBgDanger: #f8d7da;
$colorBgWarning: #fff3cd;
$colorBgInfo: #d1ecf1;
$colorBgSuccess: #d4edda;